[submodule "lib/uc_includes"]
	path = lib/uc_includes
	url = https://github.com/Echtzeitsysteme/tud-cpp-ucincludes
[submodule "lib/16FXlib"]
	path = lib/16FXlib
	url = https://github.com/Echtzeitsysteme/tud-cpp-16FXlib
